.artwork {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "headline headline"
        "cta cta"
        "image image"
        "text text";
}

@media (min-width: 25em) {
    .artwork {
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
        grid-template-areas:
            "headline headline cta   cta   cta   cta"
            "image    image    image image image image"
            "text     text     text  text  text  text";
    }
}

.artwork h1 {
    grid-area: headline;
}

.artwork p {
    grid-area: image;
}

.artwork p:first-of-type {
    grid-area: cta;
}

.artwork p:last-of-type {
    grid-area: text
}

.artwork a {
    --background-colour: var(--secondary-background-colour);
    display: inline-block;
    background-color: var(--background-colour);
    color: var(--secondary-text-colour);

    margin-inline-end: 0.5em;
    margin-block-end: 0.5em;
    padding: 0.25em 0.15em;

    font-family: sans-serif;
    text-decoration: none;
}

.artwork a + a {
    --background-colour: var(--primary-background-colour);
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
}
