:root {
    --primary-foreground-colour: #2626d9;
    --secondary-foreground-colour: lightgray;
    --background-colour: #111111;
    --secondary-background-colour: #d3d3d3;
    --text-colour: #d3d3d3;
    --card-background-colour: #2b2e31;
    --card-text-colour: #d3d3d3;
    --card-border-colour: #6f6f6f;
    --global-padding: 0.5em;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

article,
section {
    background-color: var(--card-background-colour);
    color: var(--card-text-colour);
    border: 1px solid var(--card-border-colour);
}

h1,
h2,
h3 {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-family: serif;
}

a {
    color: var(--text-colour);
}

sup {
    font-size: 50%;
}

nav li a.active {
    color: var(--primary-foreground-colour);
}

.hero-image img {
    background-color: var(--secondary-background-colour);
    max-width: calc(100% + 2 * var(--global-padding));
    margin-left: calc(-1 * var(--global-padding));
}
