:root {
    --primary-foreground-colour: #9797f7;
    --secondary-foreground-colour: #d3d3d3;
    --primary-background-colour: #111111;
    --secondary-background-colour: #9797f4;
    --primary-text-colour: #d3d3d3;
    --secondary-text-colour: #111111;

    --global-padding: 0.5em;
}

body {
    background-color: var(--primary-background-colour, #111);
    color: var(--primary-text-colour);
    font-family: sans-serif;
    font-size: 1em;
}

header {
    padding: 0 1em;
}

article,
section {
    margin: 0 0.5em 5em 0.5em;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    margin-block-start: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-family: sans-serif;
}

li {
    margin-block-end: 1em;
}

a {
    color: var(--primary-text-colour);
    display: inline;
    --background-colour: var(--primary-background-colour);
    padding: 0.25em 0;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip: objects;

    /* Fake underline, using multiple to cope with sub-pixel computation */
    background-color: transparent;

    background-image:
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor);
  
    background-size:
        100% 0.01em,
        100% 0.07em,
        100% 0.05em;
  
    background-origin:
        padding-box,
        padding-box,
        padding-box;

    background-repeat:
        no-repeat,
        no-repeat,
        repeat-x;
   
    background-position-x:
        0%,
        100%,
        0%;

    background-position-y:
        84%,
        83%,
        82%;

     /* Don't cut descenders */
    text-shadow:
        3px 0 var(--background-colour),
        2px 0 var(--background-colour),
        1px 0 var(--background-colour),
        -1px 0 var(--background-colour),
        -2px 0 var(--background-colour),
        -3px 0 var(--background-colour);
}

sup {
    font-size: 50%;
}

header {
    background-image: linear-gradient(
        to right,
        transparent 5%,
        currentColor 50%,
        currentColor 60%,
        transparent
    );
    background-repeat: no-repeat;
    background-size: 100% 0.5px;
    background-position-x: center;
    background-position-y: bottom;
    background-origin: padding-box;
    background-color: transparent;
    margin-block-end: 1em;
}

main nav {
    margin: 2em 0.5em;
}

header nav a {
    background-image: none;
}

header nav a img {
    padding: 1em 4em;
}

header nav ul li {
    padding: 0.25em 0.5em;
    margin-block-end: 1em;
}

header nav ul li a {
    background-image:
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor);
}

main ol.pagenav {
    list-style: none;
    padding-inline-start: 0;
}

main .pagenav-label {
    margin-block-start: 0;
}

main ol.pagenav li:first-of-type::before {
    content: "";
}

main ol.pagenav li::before {
    display: inline;
    content: ">";
}

main ol.pagenav li {
    padding: 0 0.25em;
}

main ol.pagenav li a {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

nav li a.active {
    color: var(--primary-foreground-colour);
}

.hero-image img {
    background-color: var(--primary-background-colour);
    max-width: calc(100% + 2 * var(--global-padding));
    margin-inline-start: calc(-1 * var(--global-padding));
}

footer {
    background-image: linear-gradient(
        to right,
        transparent 5%,
        currentColor 50%,
        currentColor 60%,
        transparent
    );
    background-repeat: no-repeat;
    background-size: 100% 0.5px;
    background-position-x: center;
    background-position-y: top;
    background-origin: padding-box;
    background-color: transparent;
}

footer section:last-of-type {
    margin-block-end: 0.5em;
}

footer section.copyright a {
    background-image: none;
}

footer ul li {
    padding: 0.25em 0.5em;
    margin-block-end: 0.5em;
    line-height: 1.75;
}

footer ul li a {
    padding-inline-start: 0;
    padding-inline-end: 0;
}
