{{ define "main" }}
    <main>
        {{ partial "pagenav.html" . }}
        <article>{{ .Content }}</article>
    </main>
    <aside>
        {{ $Site := .Site }}
        {{- $asideItem := readDir "/content/_aside/" -}}
        {{- range $asideItem }}
            <section>
                {{- $filepath := (printf "%s/%s" "_aside" .Name) -}}
                {{ with $Site.GetPage "page" $filepath }}
                    {{ .Content }}
                {{ end }}
            </section>
        {{- end }}
    </aside>
{{ end }}
