<section class="copyright">
    <div xmlns:dc="http://purl.org/dc/elements/1.1/">
        <span id="copyright" property="dc:rights">&copy;</span>
        <span property="dc:date">2004-2018</span>
        <span property="dc:publisher">Sabayon Promotion</span>
        (CF: 93018620224).
    </div>
    Unless otherwise stated, content on this page is licensed
    under a 
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
        <img alt="Creative Commons Attribution-ShareAlike 3.0 Unported License" style="border-width:0"
             src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
    </a><br />
    Linux is a registered trademark of Linus Torvalds.<br />
    All other trademarks are the property of their respective owners.<br />
</section>
